@model IEnumerable<MudahMed.Data.Entities.CorpGroup>

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb" id="breadcrumb">
        <!-- Breadcrumb items will be appended here -->
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        List Corporate Group
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <p class="card-description">
                            <a class="btn btn-primary" asp-action="CreateRole">Create new Corporate Group</a>
                        </p>

                        <form method="get" asp-action="ListCorpGroup">
                            <div class="panel-content">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="corpGroupName">Corporate Group name</label>
                                        <input type="text" id="corpGroupName" name="corpGroupName" class="form-control" placeholder="Search by Corporate Group name" />
                                    </div>
                                </div>
                                <div class="panel-content d-flex flex-row">
                                    <button class="btn btn-info ml-auto" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Addr1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactPerson)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastModifiedDate)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Addr1)   @Html.DisplayFor(modelItem => item.Addr2) @Html.DisplayFor(modelItem => item.Addr3)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContactPerson)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastModifiedDate)
                                        </td>
                                        <td class="d-flex justify-content-end">
                                            <div class="demo">
                                                <a class="btn btn-primary me-2" asp-action="EditRole" asp-route-Id="@item.CorpGroupID">Edit</a>
                                                <button class="btn btn-danger" type="button" onclick="onDelete('@item.CorpGroupID')" >Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    input.btn.btn-danger {
        position: absolute;
        right: 25px;
        top: 25px;
    }

    th {
        font-weight: 700 !important
    }
</style>

<script>
    $(document).ready(function () {

        // initialize datatable
        $('#dt-basic-example').dataTable(
            {
                responsive: true,
                lengthChange: false,
                dom:
                    /*	--- Layout Structure
                        --- Options
                        l	-	length changing input control
                        f	-	filtering input
                        t	-	The table!
                        i	-	Table information summary
                        p	-	pagination control
                        r	-	processing display element
                        B	-	buttons
                        R	-	ColReorder
                        S	-	Select

                        --- Markup
                        < and >				- div element
                        <"class" and >		- div with a class
                        <"#id" and >		- div with an ID
                        <"#id.class" and >	- div with an ID and a class

                        --- Further reading
                        https://datatables.net/reference/option/dom
                        --------------------------------------
                     */
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [
                    /*{
                        extend:    'colvis',
                        text:      'Column Visibility',
                        titleAttr: 'Col visibility',
                        className: 'mr-sm-3'
                    },*/
                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Generate PDF',
                        className: 'btn-outline-danger btn-sm mr-1'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Generate Excel',
                        className: 'btn-outline-success btn-sm mr-1'
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'CSV',
                        titleAttr: 'Generate CSV',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'copyHtml5',
                        text: 'Copy',
                        titleAttr: 'Copy to clipboard',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        titleAttr: 'Print Table',
                        className: 'btn-outline-primary btn-sm'
                    }
                ]
            });

    });

    function onDelete(id) {
        Swal.fire({
            title: 'Delete this role?',
            text: "Are you sure to delete this role?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Delete'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/admin/auth/delete-role/' + id;
                Swal.fire(
                    'Deleted!',
                    '',
                    'success'
                );
            }
        });
    }
</script>