@model IEnumerable<Employee>

<h2>Employees</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emp_ic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorpID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suboffice_fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept_fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenefitID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addr1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addr2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addr3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cont_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Join_dt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ent_dt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resign_dt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostCentre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_ic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorpID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suboffice_fk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept_fk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BenefitID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_race)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emp_nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addr1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addr2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addr3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cont_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Join_dt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ent_dt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resign_dt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostCentre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Emp_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Emp_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Emp_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
